<h1 ng-controller="CarsController as vm">Cars</h1>
<table class="table table-bordered">
<tr>
    <th>Year</th>
    <th>Model</th>
    <th>Name</th>
    <th>Country</th>
    <th>NickName</th>  
</tr>
<tbody>
    <tr ng-repeat="cars in vm.cars.list">
        <td>{{cars.year}}</td>
        <td>{{cars.model}} </td>
        <td>{{cars.name}}</td>
        <td>{{cars.country}}</td>
        <td>{{cars.nickname}}</td>
    </tr>
</tbody>
</table>
<div>
<input ng-model="vm.newCar.year" type="number" placeholder="year">
<!-- adding name property to newCompany object -->
<input ng-model="vm.newCar.model" type="text" placeholder="model">
<!-- <select ng-model="vm.newCar.model" ng-options="Ford, Nissan, Toyota"></select> -->
<!-- adding country property to newCompany object -->
<input ng-model="vm.newCar.nickname" type="text" placeholder="nickname">
<input ng-model="vm.newCar.company_id" type="number" placeholder="company Id">

<button ng-click="vm.addCars(vm.newCar)">Submit</button>
{{vm.newCar}}
<!-- adding the function addCompany, which was crated in services and connected through controller.
Passing in the object created in the inputs on click of submit button  -->
</div>
